<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeatherAppService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWeatherAppService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4012/WeatherApp" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWeatherAppService"
                contract="WeatherAppServices.IWeatherAppService" name="BasicHttpBinding_IWeatherAppService" />
            <endpoint address="net.tcp://localhost:2113/WeatherApp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWeatherAppService" contract="WeatherAppServices.IWeatherAppService"
                name="NetTcpBinding_IWeatherAppService">
                <identity>
                    <userPrincipalName value="WIKTOR\wiktor" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>